*{
	margin: 0px;
	padding: 0px;
}
body{
	width: 1349px;
	font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-family: Ubuntu, Helvetica, sans-serif;
}
p{
	font-family: Ubuntu, Helvetica, sans-serif;
}
a{
	text-decoration: none;
	font-family: Ubuntu, Helvetica, sans-serif;
}
li{
	list-style: none;
}
p.level{
	font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #4c4c4c;
}
td input{
	border: 1px solid #cccccc;
	height: 20px;
	border-radius: 3px;
}
td select{
	border: 1px solid #cccccc;
	height: 20px;
	border-radius: 3px;
}
#gioithieu ul li p{
	padding: 10px 20px 0 30px;
}
#gioithieu h2{
	text-transform: uppercase;
	padding: 10px 0px 0 10px;
	color: #135cae;
}
#gioithieu img{
	float: right;
	margin: 20px 20px 0 0;
}
#gioithieu p{
	padding: 10px;
	font-size: 14px;
}
.clear{
	clear: both;
}
#logo{
	width: 260px;
	height: 82px;
	background: url('../images/logo.png') top left no-repeat;
}
#link-logo{
	display: block;
	width: 19%;
	height: 82px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#CECECE));
	background: -moz-linear-gradient(top, #FFFFFF 0%, #CECECE 100%);
	float: left;
}	
#right-header{
	height: 82px;
	width: 81%;
	float: right;
	background: -webkit-gradient(linear, left top, left bottom, from(#010acc), to(#000115));
	background: -moz-linear-gradient(#010acc, #000115);
	position: relative;
}
#name-cty{
	height: 30px;
	width: 400px;
	position: absolute;
	color: white;
	font-weight: none;
}
#name-cty h3{
	padding: 10px 15px;
}
#name-user{
	height: 20px;
	position: absolute;
	color: white;
	right: 20px;
	bottom: 10px;

}
#name-user p{
	padding-left: 15px;
	font-size: 15px;
}
#menu{
	height: 40px;
	width: 100%;
	background: -webkit-linear-gradient(top, #cc4e45 0%,#b52d20 8%,#7a211a 100%);
	background: -moz-linear-gradient(top, #cc4e45 0%,#b52d20 8%,#7a211a 100%);
	position: relative;
}
#menu ul{
	display: block;
	position: absolute;
	width: 700px;
	height: 30px;
	left: 440px;
	top: 9px;
}
#menu ul li{
	list-style: none;
	float: left;
	margin-right: 10px;
}
#menu ul li a{
	text-decoration: none;
	font-family: Ubuntu, Helvetica, sans-serif;
	color: white;
	font-size: 10px;
	padding: 4px 10px;
	display: block;
	border-radius: 5px;
	border: 1px solid #5E1A14;
	text-transform: uppercase;	
	font-weight: bold;
}
article{
	background-color: #5A5858;

}
.select{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bd5e54), color-stop(60%,#90322a)); 
}
.selected{
	background: -webkit-linear-gradient(top, #474747 0%,#A3A1A0 60%);
}
#menu ul li ul{
	position: absolute;
	width: 19%;
	height: 0px;
	left: -440px;
	z-index: 100;
	top: 31px;
}
#left-menu{
	height: 516px;
	width: 19%;
	background-color: #5A5858;
	float: left;
	position: relative;
}
#title-submenu{
background: -webkit-linear-gradient(top, #949292 0%,#6d6b6b 87%,#282828 99%);
height: 25px;
width: 100%;
}
#title-submenu  a{
	color: white;
	font-size: 13px;
	font-family: Ubuntu, Helvetica, sans-serif;
	text-decoration: none;
	display: block;
	padding: 3px 10px;
}
#title-submenu span{
	display: block;
	height: 24px;
	width: 10%;
	position: absolute;
	color: white;
	line-height: 25px;
	text-shadow:0 1px 0 #333;
	top: 0px;
	right: 0px;
	text-align: center;
	border-left: 1px solid #282828;
	border-bottom: 1px solid #282828;
	font-weight: bold;
	background: -webkit-linear-gradient(top, #949292 0%,#6d6b6b 87%,#282828 99%);
	cursor: pointer;
}
#left-menu ul li{
	list-style: none;

}
#left-menu ul li:hover a{
	background: -webkit-linear-gradient(top, #949292 0%,#6d6b6b 87%,#282828 99%);
}
#left-menu ul li:hover ul li a{
	background: transparent;
}
#left-menu ul li ul li:hover a{
	background: -webkit-linear-gradient(top, #949292 0%,#6d6b6b 87%,#282828 99%);
}
#left-menu ul li a{
	color: white;
	font-size: 13px;
	font-family: Ubuntu, Helvetica, sans-serif;
	text-decoration: none;
	display: block;
	padding: 3px 10px;
}
.left_bg{
background: -webkit-linear-gradient(top, #949292 0%,#6d6b6b 87%,#282828 99%);
}
.left_select{
	background: transparent;
}
.sub_left_select{
	background: transparent;
}
#content{
	width: 81%;
	float: right;
	background-color: white;
	min-height: 519px;
	position: relative;
}
#content #title-search{
	width: 100%;
	height: 75px;
}
#content  #title-search p{
	color: #252424;
	padding: 10px;
	font-size: 20px;
}
#content  #title-search input[type="text"]{
	height: 20px;
	width: 150px;
	margin-left: 10px;
}
#content  #title-search input[type="submit"]{
	height: 26px;
	width: 60px;
	cursor: pointer;

}
#content #result-search ul{
	margin-left: 10px;
}
#content #result-search ul li{
	float: left;
	list-style: none;
	padding: 10px 15px;
	background-color: #F0EEEE;
	color: #4c4c4c;
	font-size: 13px;
	border-right: 1px solid white;
}
#logout{
	height: 20px;
	width: 50px;
	position: absolute;
	top: 5px;
	right: 20px;
}
#logout a{
	text-decoration: none;
	color: white;
}
#change_pass{
	height: 20px;
	width: 100px;
	position: absolute;
	top: 25px;
	right: 20px;
}
#change_pass a{
	text-decoration: none;
	color: white;
}
#metro ul{
	margin: 5px 0 0 5px;
}
#metro ul li{
	float: left;
}
#metro ul li a{
	display: block;
	width: 179px;
	height: 100px;
	color: #4c4c4c;
	border: 1px solid #f4f2f2;
	margin: 6px;
	padding: 12px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
	font-weight: 800;
	background-color: white;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 2px #bbb;
}
/*Quan Ly*/
#content #ketqua1, #nhap-tt{
	position:relative;
	left:30px;
	width:750px;
}
#content #ketqua1 tr{
	background-color:#F0EEEE;
	text-align:center;
}

#content #ketqua2 tr{
	background-color:#F0EEEE;
	text-align:center;
}
#content #congcu{
	width:421px;
	position:relative;
	left:350px;
	top:9px;
}
#content #congcu input[type="button"], input[type="submit"], input[type="reset"]{
	padding: 5px 10px;
}
#loi div{
	float:left;
	width:230px;
	}
/*Tim Kiem*/
#content #timkiem1 span{
	font-size: 20px;
	color: #252424;
	display: block;
	font-family: Ubuntu, Helvetica, sans-serif;
	margin: 10px 0 0 25px;
}
#content #timkiem1 #form_tk1{
	margin: 10px 0 0 25px;
}
#content #timkiem1 #form_tk1 select{
	border: 1px solid #cccccc;
	height: 20px;
	border-radius: 3px;
}
#content #timkiem1 #form_tk1 input[type="text"]{
	height: 24px;
}
#content #timkiem1 #form_tk1 input[type="submit"]{
	border: 1px solid #cccccc;
	border-radius: 3px;
	height: 30px;
	line-height: 10px;
	background-image: linear-gradient(to bottom, #729FCF, #3465A4);
	background-color: #3465A4;
	color: white;
	font-weight: bold;
	cursor: pointer;
}
#content #timkiem1 #menu_tk1{
	margin: 10px 0 0 25px;
	height: 30px;
}
#content #timkiem1 #menu_tk1 ul li{
	float: left;
	border-right: 1px solid white;
}
#content #timkiem1 #menu_tk1 ul li:nth-child(1) p{
	padding: 5px 7px;
}
#content #timkiem1 #menu_tk1 ul li:nth-child(2) p{
	padding: 5px 23px;
}
#content #timkiem1 #menu_tk1 ul li:nth-child(3) p{
	padding: 5px 7px;
}
#content #timkiem1 #menu_tk1 ul li:nth-child(4) p{
	padding: 5px 6px;
}
#content #timkiem1 #menu_tk1 ul li:nth-child(5) p{
	padding: 5px 6px;
}
#content #timkiem1 #menu_tk1 ul li:nth-child(6) p{
	padding: 5px 6px;
}
#content #timkiem1 #menu_tk1 ul li:nth-child(8) p{
	padding: 5px 24px;
}
#content #timkiem1 #menu_tk1 ul li p{
	padding: 5px 15px;
	background-color: #d1d1d1;
	color: #333333;
}

#content #timkiem1 #result_tk4{
	position: absolute;
	top:50px;
	left: 20px;
}
#content #timkiem1 #result_tk2{
	position: absolute;
	top: 50px;
	left: 380px;
}
#content #timkiem1 #result_tk3{
	position: absolute;
	top: 50px;
	right: 50px;
}
#content #timkiem1 #result_tk1{
	margin-left: 25px;
}
#thanhtruot{
	overflow: scroll;
}
#content #timkiem1 #result_tk1 table{
	border-spacing: 1px;
}
#content #timkiem1 #result_tk1 table tr{
	background-color: #e9e9e9;
}
#content #timkiem1 #result_tk2 table tr{
	background-color: #e9e9e9;
}
#content #timkiem1 #result_tk4 table tr{
	background-color: #e9e9e9;
}
#content #timkiem1 #result_tk3 table tr{
	background-color: #e9e9e9;
}
#content #timkiem1 #result_tk1 table tr td{
	font-family: Ubuntu, Helvetica, sans-serif;
	font-size: 15px;
}
#content #timkiem1 #result_tk1 .tk_stt{
	width: 42px;
	text-align: center;
	height: 20px;
	display: block;
}
#xuat_excel{
	position: absolute;
	width: 150px;
	height: 30px;
	top: 20px;
	right: 0px;
}
#content #timkiem1 #result_tk1 .tk_sono{
	width: 90px;
	text-align: center;
	height: 20px;
}
#content #timkiem1 #result_tk1 .tk_ten{
	width: 79px;
	text-align: center;
	height: 20px;
}
#content #timkiem1 #result_tk1 .tk_madv{
	width: 88px;
	text-align: center;
	height: 20px;
}
#content #timkiem1 #result_tk1 .tk_mahsd{
	width: 71px;
	text-align: center;
	height: 20px;
}
#content #timkiem1 #result_tk1 .tk_msts{
	width: 116px;
	text-align: center;
	height: 20px;
}
#content #timkiem1 #result_tk1 .tk_hientrang{
	width: 133px;
	text-align: center;
	height: 20px;
}
#content #timkiem1 #result_tk1 .tk_maloai{
	width: 87px;
	text-align: center;
	height: 20px;
}
#content #timkiem1 #result_tk1 .tk_thongsodo{
	width: 140px;
	text-align: center;
	height: 20px;
}
#content #timkiem1 #result_tk1 .tk_congsuat{
	width: 104px;
	text-align: center;
	height: 20px;
}
#content #timkiem1 #result_tk1 .tk_dienap{
	width: 87px;
	text-align: center;
	height: 20px;
}
#content #timkiem1 #result_tk1 .tk_ghichu{
	width: 140px;
	text-align: center;
	height: 20px;
}
#content #timkiem1 #menu_tk1 #ghichu{
	padding: 5px 43px 5px 44px;
}
#left-menu p{
	background:-webkit-linear-gradient(top, #ffffff 0%,#d8d8d8 11%,#afafaf 86%,#333333 91%,#5a5858 96%);
	color: white;
	font-size: 13px;
	font-family: Ubuntu, Helvetica, sans-serif;
	padding: 3px 10px 6px 10px;
	color: #3f3d3d;

}
.count-result{
	padding: 5px;
}
.bkq{
	margin-bottom: 20px;
	border-spacing: 1px;
	margin-left: 10px;
}
.bkq tr td{
	padding: 5px;
	text-align: center;
}
#menu1{
	height: 40px;
	width: 100%;
	background:#CCC;
	position:relative;
}
legend{
	font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
	font-weight: bold;
	color: #4c4c4c;
	margin: 25px 0px 10px 25px;
}
#menu1 ul li{
	float: left;
}
#menu1 ul{
	position: absolute;
	top: 9px;
	right: 115px;
}
#menu1 ul li input{
	text-decoration: none;
	font-family: Ubuntu, Helvetica, sans-serif;
	color: white;
	font-size: 10px;
	padding: 4px 10px;
	display: block;
	border-radius: 3px;
	border: 1px solid #5E1A14;
	text-transform: uppercase;	
	font-weight: bold;
	margin-right: 20px;
	cursor: pointer;
}
#menu1 div{
	position: absolute;
	left: 750px;
}
#menu1  div input{
	float:left;
	margin-top:7px;
	margin-right: 10px;
	color: white;
	font-size: 10px;
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid #5E1A14;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bd5e54), color-stop(60%,#90322a));
	font-weight: bold;
}
#menu1  div input:hover{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(11%,#d8d8d8), color-stop(86%,#afafaf), color-stop(91%,#333333), color-stop(96%,#5a5858));
	color: gray;
}
#fieldset1{
	width:90%;
	position:relative;
	left:5%;
}
#left-menu1{
	height: 225px;
	width: 33%;
	background-color:#FFF;
	float: left;
	position: relative;
}
#left-menu1 table{
	position:absolute;
	left:6%;
	}
#logout a{
	text-decoration: none;
	color: white;
}

#content #ketqua, #nhap-tt{
	position:relative;
	left:100px;
	width:850px;
}
#content #ketquahsx, #nhap-tthsx{
	position:relative;
	left:250px;
	width:500px;
}
#content #ketqua tr{
	background-color:#F0EEEE;
	text-align:center;

}
#content #ketqua tr td{
	font-size: 15px;
	padding: 5px 0 5px 0;
}
#content #ketquahsx tr td{
	font-size: 15px;
	padding: 5px 0 5px 0;
}
#content #ketquahsx tr{
	background-color:#F0EEEE;
	text-align:center;
}
#content #congcu{
	width:421px;
	position:relative;
	left:350px;
	top:9px;
}
#congcu input[type="button"], input[type="submit"], input[type="reset"]{
	padding: 5px 10px;
}
#loi div{
	float:left;
	width:230px;
}
#saoluu{
	position:relative;
	left:250px;
	top:30px;
}
#saoluu img{
	padding:10px;
	width:200px;
	height:200px;
}
#saoluu a,#phhoi{
	font-family: Ubuntu, Helvetica, sans-serif;
	font-size:24px;
	color:#000;
}
#saoluu a#sluu:hover{
	color:#1EA424;
}
#saoluu #phhoi:hover{
	color:#EA341A;
	cursor:pointer;
}
#saoluu #anh2:hover{
	cursor:pointer;
}
#upload{
	margin-left: 30px;

}
#cndv{
	width: 95%;
	float: left;
	padding-left: 33px;
	margin-top: 30px;
}
#cndv input[type='submit']{
	border: 1px solid #cccccc;
	border-radius: 3px;
	height: 25px;
	background-image: linear-gradient(to bottom, #729FCF, #3465A4);
	background-color: #3465A4;
	color: white;
	font-weight: bold;
	cursor: pointer;
}
#upfile{
	width: 95%;
	float: left;
	margin-top: 30px;
	padding-left: 30px;
}
#upfile input[type='submit']{
	border: 1px solid #cccccc;
	border-radius: 3px;
	height: 25px;
	line-height: 10px;
	background-image: linear-gradient(to bottom, #729FCF, #3465A4);
	background-color: #3465A4;
	color: white;
	font-weight: bold;
	cursor: pointer;
}
#home{
	display: block;
	height: 30px;
	text-align: center;
	width: 65px;
	background: -webkit-gradient(linear, left top, left bottom, from(#010acc), to(#000115));
	line-height: 30px;
	color: white;
}
#timkiem1 #livesearch{
	position: absolute;
	z-index: 1000;
	width: 213px;
	background-color: #c4c4c4;
	color:#333333;
}
#timkiem1 #livesearch a{
	cursor: pointer;
}
/*****footer***********/
footer{
	height: 145px;
	width: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#010acc), to(#000115));
	background: -moz-linear-gradient(top,#010acc,#000115);
}
footer p{
	color: white;
	font-size: 13px;
	margin-bottom: 5px;
}
#footer1{
	float: left;
	width: 50%;
	padding: 30px;
}
#footer2{
	padding: 30px;
}